:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title'
    'table';
    height: 100%;
}

.title {
  grid-area: title;
}

.table-container {
  grid-area: table;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
